
.loyaut {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 50px;
  font-family: 'Open Sans';
}

@media (max-width: 600px){
  .loyaut{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}